<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.KeyRemapping</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/GS104/.remapKeys/remapKeys.sh</string>
    </array>
     <key>LaunchEvents</key>
    <dict>
        <key>com.apple.iokit.matching</key>
        <dict>
            <key>com.apple.device-attach</key>
            <dict>
                <!-- USB HUB -->
                <key>idProduct</key>
                <integer>0xc52b</integer>
                <key>idVendor</key>
                <integer>0x46d</integer>
                <key>IOProviderClass</key>
                <string>AppleUserHIDDevice</string>
                <key>IOMatchLaunchStream</key>
                <true/>

                <!-- Noppoo Keyboard -->
                <key>idProduct</key>
                <integer>0x8400</integer>
                <key>idVendor</key>
                <integer>0x1007</integer>
                <key>IOProviderClass</key>
                <string>IOUSBHIDDriverDescriptorOverride</string>
                <key>IOMatchLaunchStream</key>
                <true/>

                <!-- Qpad Keyboard -->
                <key>idProduct</key>
                <integer>0x101</integer>
                <key>idVendor</key>
                <integer>0x4b4</integer>
                <key>IOProviderClass</key>
                <string>AppleUserHIDDevice</string>
                <key>IOMatchLaunchStream</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
